$indigo-color: #003e52;
$indigo-sec: #458396;
$skin-color: #bc955c;
$white-color: #ffffff;
$grey-color: #d9d9d9;
$grey-deep-color: #ababab;
$deep-grey-color: rgb(205, 205, 205);

$black-color: #000000;
$white-sec: #b2acac;
$skin-sec: rgb(205, 173, 128);

$light-red: #e82727;
$red: #940606;

$cart-checked-color: #d5a660;

// 高度變數
$nav-hight: 90px;
$footer-hight: 355px;
$main-padding: 20px;

// 字體變數
$main-font-family: 'Noto Serif TC', serif;
$text-weight-regular: 200;
$text-weight-medium: 500;
$text-weight-block: 700;
$text-weight-black: 900;
$h1: 32px;
$h2: 24px;
$h3: 20px;
$h4: 18px;
$h5: 16px;
$h6: 14px;
$p: 12px;
$moblietext: 10px;

// 字距變數
$regular-spacing: 0.18rem;
