aside {
  padding-block: 60px;
}
.main-content {
  padding-block: 80px;
  .main-content-title {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 6px;
    padding-inline-start: 16px;
    border-inline-start: 5px #bc955c solid;
    color: #003e52;
    /* padding-bottom: 35px; */
    margin-bottom: 35px;
  }
  .main-content-content {
    padding-inline: 21px;
  }
}
.member-center-nav {
  overflow: scroll;
  scrollbar-width: none;
  .member-center-nav-title {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 3.6px;
    color: #003e52;
    padding-bottom: 40px;
    padding-top: 5px;
  }
  .member-center-list {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    & hr {
      border: 1px #003e52 solid;
      opacity: 1;
    }
    & li {
      padding-inline: 9px;
      &.active a {
        color: #bc955c;
      }
      > a {
        color: #003e52;
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 500;
        height: 31px;
        letter-spacing: 2.2px;
        text-wrap: nowrap;
        display: flex;
        &:hover {
          color: #bc955c;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  body {
    scrollbar-width: 0;
  }
  aside {
    padding-top: 66px;
  }
  .main {
    width: 100%;
  }
  .main-content {
    padding-block: 0px;
    padding-inline: 20px;
    .main-content-title {
      font-size: 1rem;
      font-weight: 900;
      letter-spacing: 2.7px;
      color: #003e52;
      padding-inline-start: 8px;
      border-inline-start-width: 3px;
      /* padding-block: 10px; */
      margin: 10px;
    }
    .main-content-content {
      padding-inline: 30px;
      padding-block: 10px;
    }
  }
  .member-center-nav {
    overflow: scroll;
    scrollbar-width: none;
    padding: 0;
    .member-center-list {
      width: 660px;
      list-style: none;
      display: flex;
      gap: 0;
      margin: 0;
      padding: 0;
      & li {
        padding-inline: 9px;
        > a {
          color: #003e52;
          text-decoration: none;
          font-size: 0.75rem;
          font-weight: 500;
          height: 31px;
          letter-spacing: 2.2px;
          text-wrap: nowrap;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &.active a {
          color: #bc955c;
        }
        &.active {
          border-bottom: 1px #003e52 solid;
        }
      }
    }
  }
}
