<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS 引入 Bootstrap 樣式表 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- Bootstrap Bundle JS 引入 Bootstrap Bundle JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap Icons CSS 引入 Bootstrap Icons 樣式表 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <!-- Google Fonts Preconnect Google 字體預連接 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Noto Serif SC Google Font 引入 Noto Serif SC Google 字體 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- Custom CSS 自定義樣式表 -->
    <link rel="stylesheet" href="/layout/member2/style.css" />
    <link rel="stylesheet" href="/layout/member2/favorite.css" />
    <link rel="stylesheet" href="/layout/member2/d-member-center.css" />
    <link rel="stylesheet" href="/layout/member2/d-history-order.css" />
    <style></style>

    <title>我的收藏</title>
  </head>
  <body class="d-flex flex-column">
    <!-- START: 手機版主選單 -->
    <nav class="nav-m">
      <i class="bi bi-x-lg close-btn"></i>
      <ul class="main-options">
        <li class="product-category">
          商品分類
          <ul class="sub-options product-category-list">
            <li>全部商品</li>
            <li class="now">星巴克 STARBUCKS</li>
            <li>藍瓶咖啡 BLUE BOTTLE COFFEE</li>
            <li>皮爺咖啡 PEET'S COFFEE</li>
            <li>嘉里咖啡 illycaffe</li>
            <li>阿拉比卡 ％ARABICA</li>
            <li>優仕咖啡 UCC</li>
            <li>伯朗咖啡 MR. BROWN</li>
            <li>路易莎 LOUISA COFFEE</li>
            <li>咖碼咖啡 CAMA</li>
            <li>熙舍精品咖啡</li>
          </ul>
        </li>

        <li class="course-category">
          課程專區
          <ul class="sub-options course-category-list">
            <li>全部課程</li>
            <li>體驗課程</li>
            <li>一般課程</li>
            <li>SCA 證照課程</li>
          </ul>
        </li>
        <li class="coffee-forem">
          咖啡專欄
          <ul class="sub-options coffee-forem-list">
            <li>全部文章</li>
            <li>基礎咖啡入門</li>
            <li>手沖咖啡必讀</li>
            <li>咖啡選豆指南</li>
            <li>品味咖啡生活</li>
            <li>咖啡器具相關</li>
            <li>我的收藏文章</li>
          </ul>
        </li>
        <li>關於我們</li>
        <li>常見問題</li>
      </ul>
    </nav>
    <!-- END: 手機板主選單 -->

    <!-- START: header -->
    <header class="header text-center">
      <div class="nav row">
        <div class="header-logo col-2">
          <a href="/">
            <img src="logo/logo-indigo.png" alt="" />
          </a>
        </div>

        <!-- Start: 電腦版主選單 -->
        <div class="header-ul col-8">
          <ul class="nav-links">
            <li class="product-link nav-li">
              <a href="#" class="text-center nav-link link"
                >品牌專區
                <div class="nav-dot"></div
              ></a>
              <div class="brand-menu header-mainmenu">
                <ul>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      全部品牌</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      星巴克 STARBUCKS</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      藍瓶咖啡 BLUE BOTTLE COFFEE</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      皮爺咖啡 PEET'S COFFEE</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      嘉里咖啡 illycaffe</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      阿拉比卡 ％ARABICA</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      優仕咖啡 UCC</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      伯朗咖啡 MR. BROWN</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      路易莎 LOUISA COFFEE</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      咖碼咖啡 CAMA</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      熙舍精品咖啡</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="class-link nav-li">
              <a href="#" class="nav-link link"
                >課程專區
                <div class="nav-dot"></div
              ></a>
              <div class="class-menu header-mainmenu">
                <ul>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      全部課程</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      體驗課程</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      一般課程</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      SCA證照課程</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="article-link nav-li">
              <a href="#" class="nav-link link"
                >咖啡專欄
                <div class="nav-dot"></div
              ></a>
              <div class="article-menu header-mainmenu">
                <ul>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      全部文章</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      基礎咖啡入門</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      手沖咖啡必讀</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      咖啡選豆指南</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      品味咖啡生活</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      咖啡器具相關</a
                    >
                  </li>
                  <li>
                    <a href="" class="menu-link link"
                      ><div class="menu-dot"></div>
                      我的收藏文章</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="about-link nav-li">
              <a href="#" class="nav-link link"
                >關於我們
                <div class="nav-dot"></div
              ></a>
            </li>
            <li class="faq-link nav-li">
              <a href="#" class="nav-link link"
                >常見問題
                <div class="nav-dot"></div
              ></a>
            </li>
          </ul>
          <!-- <div class="dot"></div> -->
        </div>
        <!-- End: 電腦版主選單 -->

        <!-- Start: header 圖示區 -->
        <div class="header-icon text-center col-2">
          <a href="" class="link"><i class="bi bi-person-fill"></i></a>
          <span>｜</span>
          <a href="" class="link"><i class="cart-icon bi bi-cart-fill"></i></a>
          <div class="cart-num">8</div>
          <i class="list-icon bi bi-list"></i>
        </div>

        <!-- End: header 圖示區 -->
      </div>
    </header>
    <!-- END: header -->

    <!-- START: main -->
    <main class="main d-md-flex flex-grow-1">
      <!-- Start: 手機版會員中心導覽列 -->
      <aside class="member-center-nav d-md-none col-12">
        <ul class="member-center-list">
          <li><a href="">會員資料</a></li>
          <li><a href="">歷史訂單</a></li>
          <li><a href="">點數紀錄</a></li>
          <li><a href="">評論紀錄</a></li>
          <li><a href="">優惠券</a></li>
          <li><a href="">收藏商品</a></li>
          |
          <li class="active"><a href="">講師資料</a></li>
          <li><a href="">文章管理</a></li>
          <li><a href="">課程檢視</a></li>
        </ul>
      </aside>
      <!-- End: 手機版會員中心導覽列 -->

      <!-- Start: 電腦版會員中心導覽列 -->
      <aside class="member-center-nav col-3 d-none d-md-block">
        <div class="bread">
          <span> <a href="" class="link">首頁</a> </span>/
          <span> <a href="" class="link">會員中心</a> </span>/<span>
            <a href="" class="link">歷史訂單</a>
          </span>
        </div>
        <div class="member-center-nav-title">會員中心</div>
        <ul class="member-center-list flex-column col-8">
          <li><a href="">會員資料</a></li>
          <li><a href="">歷史訂單</a></li>
          <li><a href="">點數紀錄</a></li>
          <li><a href="">評論紀錄</a></li>
          <li><a href="">優惠券</a></li>
          <li><a href="">收藏商品</a></li>
          <hr />
          <li class="active"><a href="">講師資料</a></li>
          <li><a href="">文章管理</a></li>
          <li><a href="">課程檢視</a></li>
        </ul>
      </aside>
      <!-- End: 電腦版會員中心導覽列 -->

      <!-- Start: 電腦版歷史訂單列表 -->
      <div class="main-content container col-md-9">
        <h3 class="main-content-title">我的收藏</h3>
        <div class="coupon-status-area d-md-none">
          <div class="coupon-status">
            <div class="status-indicator">商品收藏</div>
            <div><i class="bi bi-caret-down-fill"></i></div>
          </div>
          <ul class="d-none status-options">
            <li class="status-option-0">商品收藏</li>
            <li class="status-option-1">課程收藏</li>
            <li class="status-option-2">文章收藏</li>
          </ul>
          <!-- TODO: 放入商品、課程、文章等的重複單元 -->
        </div>
        <div class="main-content-content">
          <div
            class="accordion accordion-flush d-none d-md-block"
            id="accordionFlushExample"
          >
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed order-status-folder"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  商品收藏
                </button>
              </h2>
              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body favorite-product-list row">
                  <div class="col-md-3 col-6">
                    <div class="pcard">
                      <a href="">
                        <img src="./01.jpg" class="product-img" alt="..." />
                        <img class="like" src="./icon/fills.svg" alt="" />
                      </a>
                      <div class="card-body">
                        <div class="pcard-title">星巴克家常咖啡豆</div>
                        <div class="pcard-price">NT$300</div>
                        <a class="add-cart link" href="">加入購物車</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 col-6">
                    <div class="pcard">
                      <a href="">
                        <img src="./01.jpg" class="product-img" alt="..." />
                        <img class="like" src="./icon/fills.svg" alt="" />
                      </a>
                      <div class="card-body">
                        <div class="pcard-title">星巴克家常咖啡豆</div>
                        <div class="pcard-price">NT$300</div>
                        <a class="add-cart link" href="">加入購物車</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 col-6">
                    <div class="pcard">
                      <a href="">
                        <img src="./01.jpg" class="product-img" alt="..." />
                        <img class="like" src="./icon/fills.svg" alt="" />
                      </a>
                      <div class="card-body">
                        <div class="pcard-title">星巴克家常咖啡豆</div>
                        <div class="pcard-price">NT$300</div>
                        <a class="add-cart link" href="">加入購物車</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 col-6">
                    <div class="pcard">
                      <a href="">
                        <img src="./01.jpg" class="product-img" alt="..." />
                        <img class="like" src="./icon/fills.svg" alt="" />
                      </a>
                      <div class="card-body">
                        <div class="pcard-title">星巴克家常咖啡豆</div>
                        <div class="pcard-price">NT$300</div>
                        <a class="add-cart link" href="">加入購物車</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed order-status-folder"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse2"
                  aria-expanded="false"
                  aria-controls="flush-collapse2"
                >
                  課程收藏
                </button>
              </h2>
              <div
                id="flush-collapse2"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body course-product-list row">
                  <div class="col-md-3 col-6">
                    <div class="pcard">
                      <a href="">
                        <img src="./01.jpg" class="product-img" alt="..." />
                        <img class="like" src="./icon/fills.svg" alt="" />
                      </a>
                      <div class="card-body">
                        <div class="pcard-title">星巴克家常咖啡豆</div>
                        <div class="pcard-price">NT$300</div>
                        <a class="add-cart link" href="">加入購物車</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 col-6">
                    <div class="pcard">
                      <a href="">
                        <img src="./01.jpg" class="product-img" alt="..." />
                        <img class="like" src="./icon/fills.svg" alt="" />
                      </a>
                      <div class="card-body">
                        <div class="pcard-title">星巴克家常咖啡豆</div>
                        <div class="pcard-price">NT$300</div>
                        <a class="add-cart link" href="">加入購物車</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 col-6">
                    <div class="pcard">
                      <a href="">
                        <img src="./01.jpg" class="product-img" alt="..." />
                        <img class="like" src="./icon/fills.svg" alt="" />
                      </a>
                      <div class="card-body">
                        <div class="pcard-title">星巴克家常咖啡豆</div>
                        <div class="pcard-price">NT$300</div>
                        <a class="add-cart link" href="">加入購物車</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 col-6">
                    <div class="pcard">
                      <a href="">
                        <img src="./01.jpg" class="product-img" alt="..." />
                        <img class="like" src="./icon/fills.svg" alt="" />
                      </a>
                      <div class="card-body">
                        <div class="pcard-title">星巴克家常咖啡豆</div>
                        <div class="pcard-price">NT$300</div>
                        <a class="add-cart link" href="">加入購物車</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed order-status-folder"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse3"
                  aria-expanded="false"
                  aria-controls="flush-collapse3"
                >
                  文章收藏
                </button>
              </h2>
              <div
                id="flush-collapse3"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body favorite-forem-list row">
                  <div class="card">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img
                          src="https://images.pexels.com/photos/606545/pexels-photo-606545.jpeg?auto=compress&cs=tinysrgb&w=600"
                          class="img-fluid"
                          alt="..."
                        />
                      </div>
                      <div class="col-md-8 forum">
                        <div class="card-body">
                          <div class="card-title">
                            <h4>現代咖啡的變革-濾掛式咖啡的崛起</h4>
                          </div>
                          <p class="card-text">
                            咖啡樣式五花八門，現代社會追求快速、簡單，今天就從咖啡產品的變革切入，並詳細介紹深受大家喜愛的「濾掛式咖啡」。
                          </p>
                          <div class="d-flex justify-content-between">
                            <p class="card-text">
                              <small class="text-dark"
                                >發布於 <span>品味咖啡生活</span></small
                              ><br />
                              <small class="text-dark">2024-01-18</small><br />
                            </p>
                            <i class="bi bi-heart"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img
                          src="https://images.pexels.com/photos/606545/pexels-photo-606545.jpeg?auto=compress&cs=tinysrgb&w=600"
                          class="img-fluid"
                          alt="..."
                        />
                      </div>
                      <div class="col-md-8 forum">
                        <div class="card-body">
                          <div class="card-title">
                            <h4>現代咖啡的變革-濾掛式咖啡的崛起</h4>
                          </div>
                          <p class="card-text">
                            咖啡樣式五花八門，現代社會追求快速、簡單，今天就從咖啡產品的變革切入，並詳細介紹深受大家喜愛的「濾掛式咖啡」。
                          </p>
                          <div class="d-flex justify-content-between">
                            <p class="card-text">
                              <small class="text-dark"
                                >發布於 <span>品味咖啡生活</span></small
                              ><br />
                              <small class="text-dark">2024-01-18</small><br />
                            </p>
                            <i class="bi bi-heart"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img
                          src="https://images.pexels.com/photos/606545/pexels-photo-606545.jpeg?auto=compress&cs=tinysrgb&w=600"
                          class="img-fluid"
                          alt="..."
                        />
                      </div>
                      <div class="col-md-8 forum">
                        <div class="card-body">
                          <div class="card-title">
                            <h4>現代咖啡的變革-濾掛式咖啡的崛起</h4>
                          </div>
                          <p class="card-text">
                            咖啡樣式五花八門，現代社會追求快速、簡單，今天就從咖啡產品的變革切入，並詳細介紹深受大家喜愛的「濾掛式咖啡」。
                          </p>
                          <div class="d-flex justify-content-between">
                            <p class="card-text">
                              <small class="text-dark"
                                >發布於 <span>品味咖啡生活</span></small
                              ><br />
                              <small class="text-dark">2024-01-18</small><br />
                            </p>
                            <i class="bi bi-heart"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img
                          src="https://images.pexels.com/photos/606545/pexels-photo-606545.jpeg?auto=compress&cs=tinysrgb&w=600"
                          class="img-fluid"
                          alt="..."
                        />
                      </div>
                      <div class="col-md-8 forum">
                        <div class="card-body">
                          <div class="card-title">
                            <h4>現代咖啡的變革-濾掛式咖啡的崛起</h4>
                          </div>
                          <p class="card-text">
                            咖啡樣式五花八門，現代社會追求快速、簡單，今天就從咖啡產品的變革切入，並詳細介紹深受大家喜愛的「濾掛式咖啡」。
                          </p>
                          <div class="d-flex justify-content-between">
                            <p class="card-text">
                              <small class="text-dark"
                                >發布於 <span>品味咖啡生活</span></small
                              ><br />
                              <small class="text-dark">2024-01-18</small><br />
                            </p>
                            <i class="bi bi-heart"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="m-favorite-list row d-md-none d-flex">
            <div class="col-md-3 col-6">
              <div class="pcard">
                <a href="">
                  <img src="./01.jpg" class="product-img" alt="..." />
                  <img class="like" src="./icon/fills.svg" alt="" />
                </a>
                <div class="card-body">
                  <div class="pcard-title">星巴克家常咖啡豆</div>
                  <div class="pcard-price">NT$300</div>
                  <a class="add-cart link" href="">加入購物車</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-6">
              <div class="pcard">
                <a href="">
                  <img src="./01.jpg" class="product-img" alt="..." />
                  <img class="like" src="./icon/fills.svg" alt="" />
                </a>
                <div class="card-body">
                  <div class="pcard-title">星巴克家常咖啡豆</div>
                  <div class="pcard-price">NT$300</div>
                  <a class="add-cart link" href="">加入購物車</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-6">
              <div class="pcard">
                <a href="">
                  <img src="./01.jpg" class="product-img" alt="..." />
                  <img class="like" src="./icon/fills.svg" alt="" />
                </a>
                <div class="card-body">
                  <div class="pcard-title">星巴克家常咖啡豆</div>
                  <div class="pcard-price">NT$300</div>
                  <a class="add-cart link" href="">加入購物車</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-6">
              <div class="pcard">
                <a href="">
                  <img src="./01.jpg" class="product-img" alt="..." />
                  <img class="like" src="./icon/fills.svg" alt="" />
                </a>
                <div class="card-body">
                  <div class="pcard-title">星巴克家常咖啡豆</div>
                  <div class="pcard-price">NT$300</div>
                  <a class="add-cart link" href="">加入購物車</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-6">
              <div class="pcard">
                <a href="">
                  <img src="./01.jpg" class="product-img" alt="..." />
                  <img class="like" src="./icon/fills.svg" alt="" />
                </a>
                <div class="card-body">
                  <div class="pcard-title">星巴克家常咖啡豆</div>
                  <div class="pcard-price">NT$300</div>
                  <a class="add-cart link" href="">加入購物車</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-6">
              <div class="pcard">
                <a href="">
                  <img src="./01.jpg" class="product-img" alt="..." />
                  <img class="like" src="./icon/fills.svg" alt="" />
                </a>
                <div class="card-body">
                  <div class="pcard-title">星巴克家常咖啡豆</div>
                  <div class="pcard-price">NT$300</div>
                  <a class="add-cart link" href="">加入購物車</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-6">
              <div class="pcard">
                <a href="">
                  <img src="./01.jpg" class="product-img" alt="..." />
                  <img class="like" src="./icon/fills.svg" alt="" />
                </a>
                <div class="card-body">
                  <div class="pcard-title">星巴克家常咖啡豆</div>
                  <div class="pcard-price">NT$300</div>
                  <a class="add-cart link" href="">加入購物車</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-6">
              <div class="pcard">
                <a href="">
                  <img src="./01.jpg" class="product-img" alt="..." />
                  <img class="like" src="./icon/fills.svg" alt="" />
                </a>
                <div class="card-body">
                  <div class="pcard-title">星巴克家常咖啡豆</div>
                  <div class="pcard-price">NT$300</div>
                  <a class="add-cart link" href="">加入購物車</a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://images.pexels.com/photos/606545/pexels-photo-606545.jpeg?auto=compress&cs=tinysrgb&w=600"
                    class="img-fluid"
                    alt="..."
                  />
                </div>
                <div class="col-md-8 forum">
                  <div class="card-body">
                    <div class="card-title">
                      <h4>現代咖啡的變革-濾掛式咖啡的崛起</h4>
                    </div>
                    <p class="card-text">
                      咖啡樣式五花八門，現代社會追求快速、簡單，今天就從咖啡產品的變革切入，並詳細介紹深受大家喜愛的「濾掛式咖啡」。
                    </p>
                    <div class="d-flex justify-content-between">
                      <p class="card-text">
                        <small class="text-dark"
                          >發布於 <span>品味咖啡生活</span></small
                        ><br />
                        <small class="text-dark">2024-01-18</small><br />
                      </p>
                      <i class="bi bi-heart"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://images.pexels.com/photos/606545/pexels-photo-606545.jpeg?auto=compress&cs=tinysrgb&w=600"
                    class="img-fluid"
                    alt="..."
                  />
                </div>
                <div class="col-md-8 forum">
                  <div class="card-body">
                    <div class="card-title">
                      <h4>現代咖啡的變革-濾掛式咖啡的崛起</h4>
                    </div>
                    <p class="card-text">
                      咖啡樣式五花八門，現代社會追求快速、簡單，今天就從咖啡產品的變革切入，並詳細介紹深受大家喜愛的「濾掛式咖啡」。
                    </p>
                    <div class="d-flex justify-content-between">
                      <p class="card-text">
                        <small class="text-dark"
                          >發布於 <span>品味咖啡生活</span></small
                        ><br />
                        <small class="text-dark">2024-01-18</small><br />
                      </p>
                      <i class="bi bi-heart"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://images.pexels.com/photos/606545/pexels-photo-606545.jpeg?auto=compress&cs=tinysrgb&w=600"
                    class="img-fluid"
                    alt="..."
                  />
                </div>
                <div class="col-md-8 forum">
                  <div class="card-body">
                    <div class="card-title">
                      <h4>現代咖啡的變革-濾掛式咖啡的崛起</h4>
                    </div>
                    <p class="card-text">
                      咖啡樣式五花八門，現代社會追求快速、簡單，今天就從咖啡產品的變革切入，並詳細介紹深受大家喜愛的「濾掛式咖啡」。
                    </p>
                    <div class="d-flex justify-content-between">
                      <p class="card-text">
                        <small class="text-dark"
                          >發布於 <span>品味咖啡生活</span></small
                        ><br />
                        <small class="text-dark">2024-01-18</small><br />
                      </p>
                      <i class="bi bi-heart"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://images.pexels.com/photos/606545/pexels-photo-606545.jpeg?auto=compress&cs=tinysrgb&w=600"
                    class="img-fluid"
                    alt="..."
                  />
                </div>
                <div class="col-md-8 forum">
                  <div class="card-body">
                    <div class="card-title">
                      <h4>現代咖啡的變革-濾掛式咖啡的崛起</h4>
                    </div>
                    <p class="card-text">
                      咖啡樣式五花八門，現代社會追求快速、簡單，今天就從咖啡產品的變革切入，並詳細介紹深受大家喜愛的「濾掛式咖啡」。
                    </p>
                    <div class="d-flex justify-content-between">
                      <p class="card-text">
                        <small class="text-dark"
                          >發布於 <span>品味咖啡生活</span></small
                        ><br />
                        <small class="text-dark">2024-01-18</small><br />
                      </p>
                      <i class="bi bi-heart"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End: 電腦版歷史訂單列表 -->
    </main>
    <!-- END: main -->

    <!-- START: footer -->
    <footer class="footer">
      <div class="main-footer d-flex row">
        <div class="footer-logo col-4">
          <img src="/logo/logo-white.png" alt="" style="width: 100%" />
        </div>
        <!-- 頁尾商標結束 -->

        <!-- 頁尾連結開始 -->
        <div class="footer-ul d-flex col-9 justify-content-center">
          <ul>
            關於我們
            <hr />
            <li>‧ 品牌故事</li>
            <li>‧ 商店簡介</li>
            <li>‧ 門市資訊</li>
            <li>‧ 隱私權及網站使用條例</li>
          </ul>
          <ul>
            客服資訊
            <hr />
            <li>‧ 常見問題</li>
            <li>‧ 客服留言</li>
            <li>‧ 聯絡我們</li>
          </ul>
          <ul>
            公司資訊
            <hr />
            <li>‧ E-mail：mrbeancoffee@gmail.com</li>
            <li>‧ service@mrbean.com</li>
            <li>‧ Tel :+886-2-3322-1888</li>
            <li>‧ Mr. Bean 豆豆先生有限公司</li>
            <li>‧ 26241567</li>
          </ul>
        </div>
        <!-- 頁尾連結結束 -->
      </div>
      <p class="text-center">
        &copy; 2024 MR.BEAN COFFEE INC., ALL RIGHTS RESERVED
      </p>
      <div class="contact-icons">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-chat-dots"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-house-door-fill"></i>
      </div>
    </footer>

    <!-- END: footer -->
    <script>
      const listIcon = document.querySelector(".list-icon");
      const nav = document.querySelector("nav");
      const body = document.querySelector("body");
      const closeBtn = document.querySelector(".close-btn");

      // offcanvas 開合設定---開始
      listIcon.addEventListener("click", (e) => {
        nav.classList.add("active");
        e.stopPropagation();
      });
      body.addEventListener("click", () => {
        nav.classList.remove("active");
      });
      nav.addEventListener("click", (e) => {
        e.stopPropagation();
      });
      closeBtn.addEventListener("click", (e) => {
        e.stopPropagation();
        nav.classList.remove("active");
      });
      // offcanvas 開合設定---結束

      // START: 優惠券狀態選單設定
      const couponStatus = document.querySelector(".coupon-status");
      const statusIndicator = document.querySelector(".status-indicator");
      const statusOptions = document.querySelector(".status-options");
      const statusOption0 = document.querySelector(".status-option-0");
      const statusOption1 = document.querySelector(".status-option-1");
      const statusOption2 = document.querySelector(".status-option-2");
      const cardStatus1 = document.querySelectorAll(".card-status-1");
      const cardStatus2 = document.querySelectorAll(".card-status-2");
      const cardStatus3 = document.querySelectorAll(".card-status-3");

      couponStatus.addEventListener("click", () => {
        statusOptions.classList.toggle("d-none");
      });

      statusOption0.addEventListener("click", () => {
        cardStatus1.forEach((v, i) => {
          v.classList.remove("d-none");
        });
        cardStatus2.forEach((v, i) => {
          v.classList.remove("d-none");
        });
        cardStatus3.forEach((v, i) => {
          v.classList.remove("d-none");
        });
        statusOptions.classList.add("d-none");
        statusIndicator.innerText = statusOption0.innerText;
      });
      statusOption1.addEventListener("click", () => {
        cardStatus1.forEach((v, i) => {
          v.classList.remove("d-none");
        });
        cardStatus2.forEach((v, i) => {
          v.classList.add("d-none");
        });
        cardStatus3.forEach((v, i) => {
          v.classList.add("d-none");
        });
        statusOptions.classList.add("d-none");
        statusIndicator.innerText = statusOption1.innerText;
      });
      statusOption2.addEventListener("click", () => {
        cardStatus1.forEach((v, i) => {
          v.classList.add("d-none");
        });
        cardStatus2.forEach((v, i) => {
          v.classList.remove("d-none");
        });
        cardStatus3.forEach((v, i) => {
          v.classList.add("d-none");
        });
        statusOptions.classList.add("d-none");
        statusIndicator.innerText = statusOption2.innerText;
      });
    </script>
    <script src="/mobile.js"></script>
  </body>
</html>
