/* START: BS 變數覆蓋 */
.accordion {
    --bs-accordion-border-color: transparent;
}
.accordion-item {
    .accordion-header {
        .accordion-button:focus {
            border:0;
            box-shadow: none;
            background-color: transparent;
        }
    }
}
/* END: BS 變數覆蓋 */


/* START: 收藏類型下拉式選單 */
:root {
  --coupon-status-width: 85px;
}

.coupon-status-area {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 5px;
  .coupon-status {
    display: flex;
    justify-content: space-between;
    border: none;
    color: #003e52;
    font-size: 0.75rem;
    width: var(--coupon-status-width);
    padding-inline-end: 5px;
  }
  .status-options {
    position: absolute;
    top: calc(100% + 5px);
    font-size: 0.75rem;
    font-weight: 200;
    color: #fff;
    background-color: #003e52e6;
    list-style: none;
    width: var(--coupon-status-width);
    padding: 5px 10px;
    & li {
      padding-block: 5px;
    }
  }
}
/* END: 收藏類型下拉式選單 */

/* START: 商品卡片 css */
.pcard {
  font-size: 16px;
  margin-block: 10px;
  & a {
    display: flex;
    position: relative;
    .like {
      position: absolute;
      width: 20px;
      bottom: 3%;
      right: 3%;
    }
    .product-img {
      width: 100%;
    }
  }

  .card-body {
    .pcard-title {
      margin-top: 5px !important;
      margin-bottom: 10px !important;
    }

    .pcard-price {
      margin-bottom: 5px !important;
    }
    .add-cart {
      font-size: 14px;
      width: 100%;
      height: 33px;
      color: #ffffff;
      background-color: #003e52;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: #003e52;
        background-color: #ffffff;
        border: 2px solid #003e52;
      }
    }
  }
}

/* END: 商品卡片 css */

/* START: 文章卡片 css */
.favorite-forem-list {
  display: flex;
}
.card {
  margin-block: 10px;
  padding: 0;
  border-radius: 0;
  box-shadow: 0px 4px 9.4px rgba(0, 0, 0, 0.25);
  & img {
    height: 200px;
    object-fit: cover;
  }
  & span {
    color: #003e52;
  }
  .card-title h4 {
    font-weight: 800 !important;
    font-size: 20px !important;
  }
  .card-text {
    font-weight: 400 !important;
    font-size: 16px !important;
  }
}

.forum :hover {
  color: #bc955c !important;
}
/* END: 文章卡片 css */
@media screen and (max-width: 1200px) {
  .card {
    & img {
      width: 100%;
    }
  }
}
/* START: 文章卡片 css */
