main {
  .main-content {
    .order-card {
      width: 100%;
      height: 80px;
      padding: 5px;
      display: flex;
      font-size: 0.75rem;
      border-bottom: 1px var(--gray) solid;
      .order-img {
        width: 70px;
        height: 70px;
      }
      .order-detail {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-left: 5px;
        height: 100%;
        .order-info {
          display: flex;
          justify-content: space-between;
          padding: 0;
          margin: 0;
          & span {
            font-size: 0.625rem;
          }
        }
        .product-info {
          display: flex;
          align-items: end;
          flex-grow: 1;
          & ul {
            font-size: 0.625rem;
            list-style: none;
            padding-inline: 0;
            margin: 0;
            flex-grow: 1;
          }
        }
      }
    }
  }
}
.order-status-1 {
  color: var(--red);
}
.order-status-2 {
  color: var(--indigo);
}
.order-status-3 {
  color: var(--gray);
}
.order-status-4 {
  color: var(--skin);
}
.order-status-5 {
  color: var(--black);
}
.page-button {
  font-size: 0.75rem;
  text-wrap: nowrap;
  color: var(--white);
  background-color: var(--indigo);
  border: 1px var(--skin) solid;
  font-weight: 500;
  padding-inline: 15px;
  padding-block: 3px;
  align-self: end;
}
/* START: 訂單詳細頁 */
.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .detail {
    font-size: 0.75rem;
    display: flex;
    gap: 10px;
    .detail-title {
      font-size: 0.75rem;
      font-weight: 600;
      text-align: justify;
      text-align-last: justify;
      width: 50px;/
    }
  }
}
