.member-center-nav {
  overflow: scroll;
  scrollbar-width: none;
  .member-center-list {
    width: 660px;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    & li {
      padding-inline: 9px;
      > a {
        color: #003e52;
        text-decoration: none;
        font-size: 0.75rem;
        font-weight: 500;
        height: 31px;
        letter-spacing: 2.2px;
        text-wrap: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &.active a {
        color: #bc955c;
      }
      &.active {
        border-bottom: 1px #003e52 solid;
      }
    }
  }
}
