<!DOCTYPE html>
<html lang="en">
  <head>
    <title>訂單詳細資訊</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- boostrap@5.3.2 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- bootstrap-icon@1.11.3 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- google font - Noto serif TC -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/layout/member2/m-main.css" />
    <link rel="stylesheet" href="/layout/member2/m-member-center.css" />
    <link rel="stylesheet" href="/layout/member2/m-history-order.css" />
    <style>
      main {
        /* START: 此頁面樣式設定 */

        .main-content {
          .order-card {
            height: 65px;
            .order-img {
              width: 55px;
              height: 55px;
            }
            .order-detail {
              .product-info {
                & > ul,
                > div {
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                }
              }
            }
          }
          .single-cost {
            color: var(--indigo);
            text-align: right;
            width: 50px;
            align-self: end;
          }
        }
      }
      /* END: 此頁面樣式設定 */
    </style>
  </head>

  <body>
    <!-- START: header -->
    <header>
      <img class="header-logo" src="/images/header-logo-mobile.svg" alt="" />
      <div class="header-icons">
        <div class="header-member-area">
          <i class="bi bi-person-fill member-icon"></i>
          |
          <i class="bi bi-cart-fill cart-icon"></i>
          <div class="cart-num">8</div>
        </div>
        <i class="bi bi-list list-icon"></i>
      </div>
    </header>
    <!-- END: header -->

    <!-- START: main -->
    <main>
      <!-- Start: 會員中心導覽列 -->
      <aside class="member-center-nav d-md-none col-12">
        <ul class="member-center-list">
          <li><a href="">會員資料</a></li>
          <li><a href="">歷史訂單</a></li>
          <li><a href="">點數紀錄</a></li>
          <li><a href="">評論紀錄</a></li>
          <li><a href="">優惠券</a></li>
          <li><a href="">收藏商品</a></li>
          |
          <li class="active"><a href="">講師資料</a></li>
          <li><a href="">文章管理</a></li>
          <li><a href="">課程檢視</a></li>
        </ul>
      </aside>
      <!-- End: 會員中心導覽列 -->

      <h3 class="main-title">訂單詳細資訊</h3>
      <div class="main-content">
        <!-- Start: 訂單詳細資訊列表 -->
        <div class="details">
          <div class="detail">
            <div class="detail-title">訂單編號</div>
            <div class="detail-content">1234567890</div>
          </div>
          <div class="detail">
            <div class="detail-title">訂單狀態</div>
            <div class="detail-content order-status-5">已完成</div>
          </div>
          <div class="detail">
            <div class="detail-title">寄送方式</div>
            <div class="detail-content">宅配</div>
          </div>
          <div class="detail">
            <div class="detail-title">寄送地址</div>
            <div class="detail-content">桃園市中壢區新生路二段 421 號</div>
          </div>
          <div class="detail">
            <div class="detail-title">訂單金額</div>
            <div class="detail-content">$ 1600</div>
          </div>
          <div class="detail">
            <div class="detail-title">訂單編號</div>
            <div class="detail-content">1234567890</div>
          </div>
          <div class="detail">
            <div class="detail-title">訂購商品</div>
            <div class="detail-content"></div>
          </div>
          <!-- Start: 訂單商品列表 -->
          <div class="order-card">
            <img class="order-img" src="./images/product-img.png" alt="" />
            <div class="order-detail">
              <ul class="order-info d-none">
                <li>1234567890</li>
                <li class="order-status-1">待出貨</li>
                <li>$ 1600</li>
                <li>2024-01-19<span>成立</span></li>
              </ul>
              <div class="product-info">
                <ul>
                  <li>中深焙 肯亞/亞拉莊園 水洗 200 g</li>
                  <li>NTD $ 500</li>
                  <li>數量: 2</li>
                </ul>
                <div>
                  <div class="cost single-cost">$ 1000</div>
                  <button class="m-content-btn btn-indigo">評論</button>
                </div>
              </div>
            </div>
          </div>
          <div class="order-card">
            <img class="order-img" src="./images/product-img.png" alt="" />
            <div class="order-detail">
              <ul class="order-info d-none">
                <li>1234567890</li>
                <li class="order-status-2">已出貨</li>
                <li>$ 1600</li>
                <li>2024-01-19<span>成立</span></li>
              </ul>
              <div class="product-info">
                <ul>
                  <li>中深焙 肯亞/亞拉莊園 水洗 200 g</li>
                  <li>NTD $ 600</li>
                  <li>數量: 1</li>
                </ul>
                <div>
                  <div class="cost single-cost">$ 600</div>
                  <button class="m-content-btn btn-indigo">評論</button>
                </div>
              </div>
            </div>
          </div>
          <!-- End: 訂單商品列表 -->
          <div class="detail">
            <div class="detail-title">成立日期</div>
            <div class="detail-content">2024-01-19</div>
          </div>
          <div class="detail">
            <div class="detail-title">完成日期</div>
            <div class="detail-content"></div>
          </div>
        </div>
        <!-- End: 訂單詳細資訊列表 -->
      </div>
    </main>
    <!-- END: main -->
    <!-- START: footer-->
    <footer>
      <img src="images/footer-logo-mobile.svg" alt="" />
      <div class="footer-text">
        © 2024 MR.BEAN COFFEE INC.ALL RIGHTS RESERVED
      </div>
      <div class="contact-icons">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-chat-dots"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-house-door-fill"></i>
      </div>
    </footer>
    <!-- END: footer -->
    <!-- START: nav -->
    <nav>
      <i class="bi bi-x-lg close-btn"></i>
      <ul class="main-options">
        <li class="product-category">
          商品分類
          <ul class="sub-options product-category-list">
            <li>全部商品</li>
            <li class="now">星巴克 STARBUCKS</li>
            <li>藍瓶咖啡 BLUE BOTTLE COFFEE</li>
            <li>皮爺咖啡 PEET'S COFFEE</li>
            <li>嘉里咖啡 illycaffe</li>
            <li>阿拉比卡 ％ARABICA</li>
            <li>優仕咖啡 UCC</li>
            <li>伯朗咖啡 MR. BROWN</li>
            <li>路易莎 LOUISA COFFEE</li>
            <li>咖碼咖啡 CAMA</li>
            <li>熙舍精品咖啡</li>
          </ul>
        </li>
        <li class="course-category">
          課程專區
          <ul class="sub-options course-category-list">
            <li>全部課程</li>
            <li>體驗課程</li>
            <li>一般課程</li>
            <li>SCA 證照課程</li>
          </ul>
        </li>
        <li class="coffee-forem">
          咖啡專欄
          <ul class="sub-options coffee-forem-list">
            <li>全部文章</li>
            <li>基礎咖啡入門</li>
            <li>手沖咖啡必讀</li>
            <li>咖啡選豆指南</li>
            <li>品味咖啡生活</li>
            <li>咖啡器具相關</li>
            <li>我的收藏文章</li>
          </ul>
        </li>
        <li>關於我們</li>
        <li>常見問題</li>
      </ul>
    </nav>
    <!-- END: nav -->
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  <script>
    const listIcon = document.querySelector(".list-icon");
    const nav = document.querySelector("nav");
    const body = document.querySelector("body");
    const closeBtn = document.querySelector(".close-btn");

    // START: offcanvas 開合設定
    listIcon.addEventListener("click", (e) => {
      nav.classList.add("active");
      e.stopPropagation();
    });
    body.addEventListener("click", () => {
      nav.classList.remove("active");
    });
    nav.addEventListener("click", (e) => {
      e.stopPropagation();
    });
    closeBtn.addEventListener("click", (e) => {
      e.stopPropagation();
      nav.classList.remove("active");
    });
    // END: offcanvas 開合設定
  </script>
</html>
