// 顏色變數
$indigo-color: #003e52;
$skin-color: #bc955c;
$white-color: #ffffff;
$grey-color: #d9d9d9;
$deep-grey-color: rgb(205, 205, 205);

$black-color: #000000;
$white-sec: #b2acac;
$skin-sec: #cdad80;
$red: #940606;

// 高度變數
$nav-hight: 90px;
$footer-hight: 355px;
$main-padding: 20px;

// 字體變數
$main-font-family: "Noto Serif TC", serif;
$text-weight-regular: 200;
$text-weight-medium: 500;
$text-weight-block: 700;
$text-weight-black: 900;
$h1: 32px;
$h2: 24px;
$h3: 20px;
$h4: 18px;
$h5: 16px;
$h6: 14px;
$p: 12px;
$moblietext: 10px;

// 字距變數
$regular-spacing: 0.18rem;

main {
  min-height: calc(100vh - 90px - 355px);
  section.process {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    .process-step {
      display: flex;
      flex-direction: column;
      text-align: center;
      .process-circle {
        margin-inline: 2rem;
        width: 50px;
        height: 50px;
        background-color: $indigo-color;
        border-radius: 50%;
        .step-num {
          line-height: 50px;
          color: $white-color;
        }
      }
      .step-title {
        padding-top: 1rem;
      }
    }

    .process-line {
      width: 270px;
      height: 10px;
      background-color: $indigo-color;
      margin-bottom: 3.5rem;
    }
    .process-iconM {
      display: none;
    }
  }

  .not-this-process {
    background-color: $grey-color !important;
    .step-num {
      color: $indigo-color !important;
    }
  }
  section.empty-cart-logo-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    .image {
      img {
        height: 300px;
        width: 300px;
      }
    }
    .illustrate {
      margin-top: -3rem;
      font-size: $h2;
    }
    .direct-button {
      margin-top: 3rem;
      margin-bottom: 5rem;
      text-decoration: none;
      background-color: $indigo-color;
      color: $white-color;
      width: 160px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: $h4;
      margin-inline: 0.5rem;
      transition: all 0.3s ease;
      &:hover {
        background-color: $skin-color;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  main {
    max-width: 390px !important;
    section.process {
      .process-circle {
        font-size: $h6;

        width: 37px !important;
        height: 37px !important;
        .step-num {
          line-height: 37px !important;
        }
      }
      .process-line {
        display: none;
      }
      .process-iconM {
        display: block;
        font-size: $h3;
        font-weight: $text-weight-black;
        margin-top: -3rem;
      }
      .step-title {
        font-size: $p;
      }
    }
    section.empty-cart-logo-group {
      .image {
        img {
          height: 230px;
          width: 230px;
        }
      }
      .illustrate {
        margin-top: -2.5rem;
        font-size: $h3;
      }
      .direct-button {
        width: 140px;
        height: 50px;
        font-size: $h5;
        &:hover {
          background-color: $indigo-color;
        }
      }
    }
  }
}
