// 顏色變數
$indigo-color: #003e52;
$skin-color: #bc955c;
$white-color: #ffffff;
$grey-color: #d9d9d9;
$deep-grey-color: rgb(205, 205, 205);

$black-color: #000000;
$white-sec: #b2acac;
$skin-sec: #cdad80;
$red: #940606;

// 高度變數
$nav-hight: 90px;
$footer-hight: 355px;
$main-padding: 20px;

// 字體變數
$main-font-family: "Noto Serif TC", serif;
$text-weight-regular: 200;
$text-weight-medium: 500;
$text-weight-block: 700;
$text-weight-black: 900;
$h1: 32px;
$h2: 24px;
$h3: 20px;
$h4: 18px;
$h5: 16px;
$h6: 14px;
$p: 12px;
$moblietext: 10px;

// 字距變數
$regular-spacing: 0.18rem;

// custom-checkbox開始
.custom-checkbox {
  display: flex;
  align-items: center;
  input {
    display: none;
  }
}

.custom-checkbox .checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  border: 1px solid #003e52;
  display: inline-block;
}

.custom-checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;

  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid $white-color;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  background-color: transparent;
}

.custom-checkbox input:checked + .checkmark {
  background-color: $indigo-color;
}
//custom-checkbox 結束
//custom-select開始
.custom-select {
  position: relative;
  user-select: none;
  width: 300px;
}
.custom-select .selected {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.custom-select .custom-options {
  width: 300px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 2;
}
.custom-select .custom-option {
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }
}
//custom-select結束
//custom-select開始
.custom-select-sub {
  position: relative;
  user-select: none;
  width: 300px;
}
.custom-select-sub .selected-sub {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.custom-select-sub .custom-options-sub {
  width: 300px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 2;
}
.custom-select-sub .custom-option-sub {
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }
}
//custom-select結束
//input placeholder金字開始
input::placeholder {
  color: $skin-color;
}
// input 金字結束
main {
  min-height: calc(100vh - 90px - 355px);
  section.proccess {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    .proccess-step {
      display: flex;
      flex-direction: column;
      text-align: center;
      .proccess-circle {
        margin-inline: 2rem;
        width: 50px;
        height: 50px;
        background-color: $indigo-color;
        border-radius: 50%;
        .step-num {
          line-height: 50px;
          color: $white-color;
        }
      }
      .step-title {
        padding-top: 1rem;
      }
    }

    .proccess-line {
      width: 270px;
      height: 10px;
      background-color: $indigo-color;
      margin-bottom: 3.5rem;
    }
    .proccess-iconM {
      display: none;
    }
  }

  .not-this-proccess {
    background-color: $grey-color !important;
    .step-num {
      color: $indigo-color !important;
    }
  }
  section.cart-product-section {
    .product-title {
      font-size: $h1;
      margin-block: 3rem;
      border-left: 5px solid $indigo-color;
      padding-left: 1rem;
      margin-left: -1.5rem;
    }
    .product-title-row {
      text-align: center;
      font-size: $h2;
    }
    .line {
      margin-block: 1.5rem;
      width: 100%;
      background-color: $indigo-color;
      height: 3px;
    }
    .product-info {
      font-size: $h4;
    }
    .underline {
      margin-block: 2rem;
      width: 100%;
      background-color: $indigo-color;
      height: 1px;
    }
  }

  section.product-method-group {
    box-sizing: border-box;
    padding: 2rem 3rem;
    margin-block: 3rem;
    border: 2px solid $indigo-color;
    .method-select {
      // border-right: 1px solid $indigo-color;

      .method-title {
        font-size: $h2;
        border-left: 5px solid $indigo-color;
        padding-left: 1rem;
        margin-block: 1rem;
        margin-bottom: 1.5rem;
      }
    }
    .custom-info-section {
      // width: 60%;

      .info-title {
        margin-block: 1rem;
        font-size: $h2;
        border-left: 5px solid $indigo-color;
        padding-left: 1rem;
      }

      .info {
        letter-spacing: $regular-spacing;
        font-size: $h3;
        .info-input {
          display: flex;
          // justify-content: center;
          margin-block: 2rem;
          p {
            width: 120px;
          }
          input {
            width: 700px;
            &:focus {
              outline: 1px solid $indigo-color;
            }
          }
        }
      }
    }
    .remark-title {
      margin-left: 12px;
      margin-top: 2rem;
      font-size: $h2;
      border-left: 5px solid $indigo-color;
      padding-left: 1rem;
    }
    .remark {
      margin-left: 12px;
      width: 98%;
      overflow: auto;
      resize: none;
      margin-top: 1rem;
      box-sizing: border-box;
      height: 90px;
      &:focus {
        outline: 1px solid $indigo-color;
      }
    }
  }
  // 優惠券pop-up開始
  section.coupon-pop-up {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.442);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    .coupon-select {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;

      width: 1200px;
      height: 600px;
      background-color: $white-color;
      border: 5px solid $indigo-color;
      box-sizing: border-box;
      padding: 2rem;
      overflow: auto;
      .title-group {
        .title {
          margin-block: 2rem;
          font-size: $h2;
          border-left: 5px solid $indigo-color;
          padding-left: 1rem;
        }
        div {
          .bi-x-lg {
            cursor: pointer;
            font-size: $h1;
            color: $indigo-color;
            &:hover {
              color: $red;
            }
          }
        }
      }

      .coupon-card {
        cursor: pointer;

        // border: 1px solid $indigo-color;
        box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
        margin-inline: 2rem;
        padding: 0;
        margin-bottom: 2rem;
        img {
          width: 148px;
          height: 148px;
        }
      }
      .coupon-group {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        padding-top: 1em;
        .coupon-title {
          color: $skin-color;
          font-size: $h3;
          font-weight: $text-weight-medium;
        }
        .coupon-price {
          color: $indigo-color;
          font-weight: $text-weight-black;
        }
        .coupon-intro {
          color: $grey-color;
        }
      }
    }
  }
  // 優惠券pop-up結束
  section.product-coupon {
    margin-block: 2rem;
    width: 100%;
    height: 100px;
    background-color: $grey-color;
    box-sizing: border-box;
    padding-inline: 2rem;
    font-size: $h2;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: #b4b4b4;
    }

    .coupon-title,
    .coupon-used,
    .coupon-choose {
      color: $indigo-color;
      letter-spacing: $regular-spacing;
    }
    .coupon-choose {
      font-weight: $text-weight-block;
    }
    .coupon-choose-used {
      font-size: $h3;
      font-weight: $text-weight-medium;
      background-color: $indigo-color;
      color: $white-color;
      padding: 0.75rem 1.5rem;
    }
  }
  section.product-point {
    margin-block: 2rem;
    width: 100%;
    height: 100px;

    background-color: $grey-color;
    box-sizing: border-box;
    padding-inline: 2rem;
    font-size: $h2;
    .point-title {
      color: $indigo-color;
      span.bolder {
        font-weight: $text-weight-black;
      }
      span.small {
        font-size: $h5;
      }
    }

    .point-input {
      width: 150px;
      text-align: center;
      color: $skin-color;
      &::placeholder {
        text-align: center;
      }
      &:focus {
        outline: 1px solid $indigo-color;
      }
    }
    p {
      font-size: $h6;
    }
  }
  section.product-total-group {
    margin-top: 5rem;
    margin-bottom: 5rem;
    // padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: $h3;
    .product-total-box {
      width: 500px;
      .item-container {
        width: 500px;
        display: flex;
        justify-content: space-between;
      }
      .line {
        background-color: $indigo-color;
        width: 100%;
        height: 1px;
      }
      .sum {
        font-size: $h2;
        font-weight: $text-weight-black;
        padding-top: 1.5rem;
      }
    }
    a {
      margin-top: 1.5rem;
      text-decoration: none;
      background-color: $indigo-color;
      color: $white-color;
      width: 200px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      transition: all 0.3s ease;
      &:hover {
        background-color: $skin-color;
      }
    }
  }
}
@media screen and (max-width: 430px) {
  main {
    max-width: 390px !important;

    section.proccess {
      .proccess-circle {
        font-size: $h6;

        width: 37px !important;
        height: 37px !important;
        .step-num {
          line-height: 37px !important;
        }
      }
      .proccess-line {
        display: none;
      }
      .proccess-iconM {
        display: block;
        font-size: $h3;
        font-weight: $text-weight-black;
        margin-top: -3rem;
      }
      .step-title {
        font-size: $p;
      }
    }
    section.cart-product-section {
      .product-title {
        font-size: $h2;
        margin-left: 0;
      }
      .product-title-row {
        font-size: $h4;
      }
      .product-info {
        font-size: $h6 !important;
      }
    }
    section.product-method-group {
      padding: 1.5rem 2rem;
      .method-select {
        width: 200px;

        .method-title {
          font-size: $h3;
        }
      }
      .custom-info-section {
        .info-title {
          margin-top: 2rem !important;
          font-size: $h3;
        }

        .info {
          letter-spacing: 0.1rem !important;
          font-size: $h6;
          .info-input {
            display: flex;
            // justify-content: center;
            margin-block: 2rem;
            p {
              width: 100px;
            }
            input {
              width: 220px;
              &:focus {
                outline: 1px solid $indigo-color;
              }
            }
          }
        }
      }
      .remark-title {
        font-size: $h3;
      }
      .remark {
        width: 93%;
      }
    }
    //coupon-pop-upM開始
    section.coupon-pop-up {
      .coupon-select {
        width: 390px;
        height: 500px;

        padding: 2rem;

        .title-group {
          .title {
            margin-block: 0rem;
            margin-bottom: 2rem;
            margin-left: -0.6rem;
            font-size: $h4;
          }
          div {
            .bi-x-lg {
              font-size: $h5;
            }
          }
        }

        .coupon-card {
          height: 122px;

          margin-bottom: 2rem;
          img {
            width: 120px;
            height: 120px;
          }
        }
        .coupon-group {
          display: flex;
          flex-direction: column;
          margin-left: 1rem;
          padding-block: 0.5rem !important;
          .coupon-title {
            color: $skin-color;
            font-size: $h4;
            font-weight: $text-weight-medium;
          }
          .coupon-price {
            font-size: $h6;
            color: $indigo-color;
            font-weight: $text-weight-black;
          }
          .coupon-intro {
            font-size: $moblietext;
            color: $grey-color;
          }
        }
      }
    }
    //coupon-pop-up結束
    section.product-coupon {
      font-size: $h5;
      height: 70px;
      .coupon-choose-used {
        font-size: $h5;

        background-color: $indigo-color;
        color: $white-color;
        padding: 0.35rem 0.7rem;
      }
    }
    section.product-point {
      font-size: $h5;
      height: 70px;
      letter-spacing: $regular-spacing;
      .point-input {
        width: 80px;
        text-align: center;

        &::placeholder {
          text-align: center;
          font-size: $p;
        }
        &:focus {
          outline: 1px solid $indigo-color;
        }
      }
    }
    section.product-total-group {
      align-items: center;
      font-size: $h5;
      .product-total-box {
        width: 380px;
        .item-container {
          width: 380px;
        }
        .line {
          width: 100%;
          height: 1px;
        }
        .sum {
          font-size: $h4;
        }
      }
      a {
        font-size: $h3;

        width: 180px;
        height: 50px;

        line-height: 50px;

        &:hover {
          background-color: $indigo-color;
        }
      }
    }
  }
}
