.calender-title {
  color: #003e52;
  text-align: start;
  margin: 20px 0px 0px 0px;
  font-size: 32px;
  border-left: 5px solid #bc955c;
  padding: 0 0 0 16px;
}

.calendar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-bottom: 50px;
}

.calendar-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-div .calendar {
  width: 453px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.calendar-div .calendar .calender-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #003e52;
  padding: 10px;
  width: 100%;
}
.calendar-div .calendar .calender-header .month {
  font-size: 32px;
  color: #000000;
}
.calendar-div .calendar .calender-header .year {
  font-size: 24px;
  color: #000000;
}
.calendar-div .calendar .weekdays {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
  width: 100%;
}
.calendar-div .calendar .weekdays .weekday {
  width: 14.2857142857%;
  text-align: center;
  font-size: 16px;
}
.calendar-div .calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  font-size: 16px;
  width: 100%;
}
.calendar-div .calendar .days .day {
  text-align: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: auto;
}
.calendar-div .calendar .days .today {
  font-weight: bold;
}
.calendar-div .calendar .days .signed {
  color: #ffffff;
  background-color: #003e52;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.sign-btn {
  width: 160px;
  height: 48px;
  padding: 13px 0px 12px 0px;
  justify-content: center;
  align-items: center;
  display: block;
  margin: auto;
  background-color: #003e52;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 0;
}
.sign-btn:hover {
  background-color: #bc955c;
  color: #ffffff;
}
.sign-btn.signed {
  display: flex;
  width: 160px;
  height: 48px;
  padding: 13px 34px 12px 34px;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  cursor: default;
}
.sign-btn.signed:hover {
  background-color: #d9d9d9;
}

.activity {
  margin: 30px;
}
.activity .skin-big-size {
  font-size: 24px;
  color: #bc955c;
}
.activity .med-size {
  font-size: 18px;
}
.activity p {
  font-size: 16px;
  margin: 5px 0;
}

.check-my-point {
  text-align: end;
  font-size: 18px;
  margin-right: 50px;
  margin-bottom: 20px;
}
.check-my-point .skin-big-size {
  font-size: 24px;
  color: #bc955c;
}

.coupon-card {
  position: relative;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
  margin-inline: 2rem;
  padding: 0;
  margin-bottom: 2rem;
}
.coupon-card img {
  width: 148px;
  height: 100%;
}
.coupon-card .coupon-group {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  padding-top: 1em;
  justify-content: center;
}
.coupon-card .coupon-title {
  color: #bc955c;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
}
.coupon-card .coupon-price {
  color: #003e52;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 1px;
}
.coupon-card .coupon-intro {
  color: #d9d9d9;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 1px;
}
.coupon-card .redeem-button {
  background: #bc955c;
  color: #ffffff;
  font-size: 14px;
  position: absolute;
  display: flex;
  width: 65px;
  padding: 5px 12px;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .calender-title {
    font-size: 20px;
    text-align: center;
    border-left: 5px solid transparent;
    padding: 0px;
  }
  .calendar {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0px 50px;
  }
  .activity {
    padding: 10px 50px;
    margin: auto;
  }
  .activity .skin-big-size {
    font-size: 20px;
    color: #bc955c;
  }
  .activity .med-size {
    font-size: 16px;
  }
  .activity p {
    font-size: 14px;
    margin: 5px 0;
  }
  .sign-btn {
    padding: 0px;
    font-size: 16px;
  }
  .sign-btn.signed {
    padding: 0px;
    font-size: 18px;
  }
  .check-my-point {
    text-align: center;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
  }
  .check-my-point .skin-big-size {
    font-size: 16px;
    color: #bc955c;
  }
  .coupon-card {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    margin-inline: 2rem;
    padding: 0;
    margin-bottom: 2rem;
  }
  .coupon-card img {
    width: 120px;
    height: 100%;
  }
  .coupon-group .coupon-title {
    font-size: 18px;
  }
  .coupon-group .coupon-price {
    font-size: 14px;
  }
  .coupon-group .coupon-intro {
    font-size: 14px;
  }
  .coupon-group .redeem-button {
    width: 50px;
    height: 25px;
    font-size: 12px;
    top: 10px;
    right: 10px;
  }
}/*# sourceMappingURL=calender-style.css.map */