* {
  font-family: "Noto Serif TC", serif;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
}

input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: none;
}

@media screen and (max-width: 576px) {
  .product-pics {
    display: none;
  }
  .date {
    display: none;
  }
  .main {
    padding: 0 !important;
    margin: 0 !important;
  }
  .content {
    padding: 0 !important;
    margin: 0 !important;
  }
  .slide-m {
    display: block !important;
    margin-top: 66px;
    width: 100vw;
    position: relative;
  }
  .slide-m img {
    width: 100%;
  }
  .slide-m .right {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 14px;
    height: 100%;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
  }
  .slide-m .left {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 14px;
    height: 100%;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
  }
  .slide-m .pbox {
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
    left: calc(50% - 17px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 5px;
  }
  .product-main-content {
    padding-bottom: 0 !important;
  }
  .product-main-right {
    margin-block: 20px;
    gap: 10px;
  }
  .product-main-right .product-title {
    font-size: 18px !important;
  }
  .product-main-right .product-p {
    display: none;
  }
  .product-main-right .product-price {
    font-size: 18px;
  }
  .product-main-right .product-like {
    width: 20px !important;
  }
  .product-main-right .product-like img {
    width: 100%;
  }
  .product-main-right .product-btn-group {
    height: 43px;
  }
  .product-main-right .product-btn-group .product-qua-btn {
    height: 43px;
  }
  .product-main-right .product-btn-group .product-qua-btn .minus {
    width: 40px;
    height: 41px;
    font-size: 20px;
  }
  .product-main-right .product-btn-group .product-qua-btn .plus {
    width: 40px;
    height: 41px;
    font-size: 20px;
  }
  .product-main-right .product-btn-group .add-cart {
    height: 43px;
    font-size: 16px;
  }
  .product-main-right .product-p-m {
    display: block;
    font-size: 14px;
    font-weight: 500;
  }
  .product-sub-content .tab-group {
    display: flex;
  }
  .product-sub-content .tab-group label {
    flex: 1;
    font-size: 16px;
  }
  .product-sub-content .content {
    font-size: 14px !important;
  }
  .product-comments-title {
    font-size: 16px;
  }
  .product-comment {
    font-size: 14px !important;
  }
  .product-comment .prodoct-comment-content-top {
    font-size: 14px !important;
  }
  .product-comment .prodoct-comment-content-top .client-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .product-comment .product-comment-header {
    display: flex;
    align-items: center;
  }
  .product-comment .product-comment-header img {
    width: 50px !important;
    height: 50px !important;
  }
  .product-comment .date-m {
    display: block;
    font-size: 12px;
  }
  .more {
    font-size: 14px;
  }
}
.slide-m {
  display: none;
}

.product-p-m {
  display: none;
}

.date-m {
  display: none;
}

.product-main-content {
  padding-bottom: 50px;
  padding-inline: 20px;
  font-size: 20px;
  color: #003E52;
  font-weight: 500;
  letter-spacing: 0.18rem;
}
.product-main-content .product-main-pic img {
  width: 100%;
}
.product-main-content .product-sub-pics {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 10px;
}
.product-main-content .product-sub-pic img {
  width: 100%;
  cursor: pointer;
}
.product-main-content .product-main-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-main-content .product-title {
  font-size: 28px;
}
.product-main-content .price-like {
  display: flex;
  justify-content: space-between;
}
.product-main-content .price-like .product-like {
  width: 28px;
}
.product-main-content .price-like .product-like img {
  width: 100%;
}
.product-main-content .product-btn-group {
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 80px;
}
.product-main-content .product-qua-btn {
  width: 100%;
  position: relative;
  height: 55px;
  border: 2px solid #003E52;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.product-main-content .product-qua-btn .minus {
  position: absolute;
  top: 0;
  left: 0;
  width: 51px;
  height: 52px;
  border-right: 2px solid #003E52;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}
.product-main-content .product-qua-btn .plus {
  position: absolute;
  top: 0;
  right: 0;
  width: 51px;
  height: 52px;
  border-left: 2px solid #003E52;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}
.product-main-content .product-qua-btn .qua-btn {
  transition: background-color 0.3s ease;
  color: #003E52;
  text-decoration: none;
}
.product-main-content .product-qua-btn .qua-btn:hover,
.product-main-content .product-qua-btn .qua-btn:active,
.product-main-content .product-qua-btn .qua-btn:focus-within {
  background-color: #003E52;
  color: #FFFFFF;
}
.product-main-content .add-cart {
  width: 100%;
  height: 55px;
  border: 2px solid #003E52;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  color: #003E52;
  text-decoration: none;
}
.product-main-content .add-cart:hover,
.product-main-content .add-cart:active,
.product-main-content .add-cart:focus-within {
  width: 100%;
  height: 55px;
  background-color: #003E52;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-sub-content {
  font-size: 18px;
  color: #003E52;
  font-weight: 500;
  letter-spacing: 0.18rem;
  /* .content1{display:block;} */
  /* .tab-group .active {
  position:relative;
  background-color: #fff;
  } */
}
.product-sub-content .panel-control {
  position: absolute;
  opacity: 0;
}
.product-sub-content .tab-group {
  display: flex;
}
.product-sub-content .tab-group label {
  display: inline-block;
  padding-block: 10px;
  width: 130px;
  border-bottom: none;
  background-color: #FFFFFF;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-sub-content .content-group {
  border-top: 2px solid #003E52;
  border-bottom: 2px solid #003E52;
  padding: 20px;
}
.product-sub-content .content {
  display: none;
}
.product-sub-content #radio1:checked ~ .tab-group [for=radio1],
.product-sub-content #radio2:checked ~ .tab-group [for=radio2],
.product-sub-content #radio3:checked ~ .tab-group [for=radio3] {
  background-color: #003E52;
  color: #FFFFFF;
}
.product-sub-content #radio1:hover ~ .tab-group [for=radio1],
.product-sub-content #radio2:hover ~ .tab-group [for=radio2],
.product-sub-content #radio3:hover ~ .tab-group [for=radio3] {
  background-color: #003E52;
  color: #FFFFFF;
}
.product-sub-content #radio1:checked ~ .content-group .content1,
.product-sub-content #radio2:checked ~ .content-group .content2,
.product-sub-content #radio3:checked ~ .content-group .content3 {
  display: block;
}

.product-comments {
  padding-block: 30px;
  padding-inline: 20px;
  color: #003E52;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.18rem;
}
.product-comments .star {
  color: #BC955C;
}
.product-comments .product-comments-title {
  margin-bottom: 30px;
}
.product-comments .product-comment {
  margin-block: 40px;
  padding-inline: 20px;
  font-size: 18px;
}
.product-comments .product-comment-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.product-comments .prodoct-comment-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-comments .prodoct-comment-content .prodoct-comment-content-top {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.product-comments .prodoct-comment-content .prodoct-comment-content-top .like {
  display: inline-block;
  margin-left: 10px;
  letter-spacing: 0rem;
}
.product-comments .prodoct-comment-content .prodoct-comment-content-top .date {
  font-size: 14px;
}
.product-comments .more {
  display: flex;
  justify-content: end;
  margin-block: 30px;
}
.product-comments .more a {
  transition: background-color 0.3s ease;
  color: #003E52;
  text-decoration: none;
}
.product-comments .more a:hover, .product-comments .more a:active, .product-comments .more a:focus-within {
  color: #003E52;
}/*# sourceMappingURL=product-detail-style.css.map */