// 顏色變數 
$indigo-color: #003E52;
$skin-color: #BC955C;
$white-color: #FFFFFF;
$gray-color: #D9D9D9;
$black-color: #000000;
$white-sec: #B2ACAC;
$skin-sec: #CDAD80;
$red: #940606;

// 高度變數 
$nav-hight: 90px;
$footer-hight: 355px;
$main-padding: 20px;

// 字體變數 
$main-font-family: 'Noto Serif TC', serif;;
$text-weight-regular: 200;
$text-weight-medium: 500;
$text-weight-block: 700;
$text-weight-black: 900;
$h1: 32px;
$h2: 24px;
$h3: 20px;
$h4: 18px;
$h5: 16px;
$h6: 14px;
$p: 12px;
$moblietext: 10px;

// 字距變數 
$regular-spacing:0.18rem;

*{
    font-family: $main-font-family;
    list-style: none;
    text-decoration: none !important;
    box-sizing: border-box;

}

// input radio設定
input[type="radio"] {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none; 
    display: none;
}

// 手機版
@media screen and (max-width: 576px){
    // 在手機板消失
    .product-pics{
        display: none;
    }

    .date{
        display: none;
    }

    // 改變公版樣式
    .main{
        padding: 0 !important;
        margin: 0 !important;

    }

    .content{
        padding: 0 !important;
        margin: 0 !important;
    }


    // 手機板
    // 手機版產品大圖slide
    .slide-m{
        display: block !important;
        margin-top: 66px;
        width: 100vw;
        position: relative;

        & img{
            width: 100%;
        }

        .right{
            position: absolute;
            top:0;
            right:5px;
            font-size: $h6;
            height: 100%;
            width: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white-color;
        }
    
        .left{
            position: absolute;
            top:0;
            left:5px;
            font-size: $h6;
            height: 100%;
            width: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white-color;
        }

        .pbox{
            color: $white-color;
            position: absolute;
            bottom: 5px;
            left: calc(50% - 17px);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-size: 5px;
        }
    }

    .product-main-content{
        padding-bottom: 0 !important;
    }
    
    .product-main-right{
        margin-block:20px;
        gap: 10px;
        .product-title{
            font-size: 18px !important;
        }

        .product-p{
            display: none;
        }

        .product-price{
            font-size: 18px;
        }

        .product-like{
            width: 20px !important;

            & img{
                width: 100%;
            }
        }

        .product-btn-group{
            height: 43px;
            .product-qua-btn{
                height: 43px;
                .minus{
                    width: 40px;
                    height: 41px;
                    font-size: 20px;
                }
                .plus{
                    width: 40px;
                    height: 41px;
                    font-size: 20px;
                }
            }
            .add-cart{
                height: 43px;
                font-size: $h5;
            }
        }

        .product-p-m{
            display: block;
            font-size: 14px;
            font-weight: $text-weight-medium;
        }
    }

    .product-sub-content{
        .tab-group{
            display: flex;
            // font-size: 14px !important;
            

            & label{
                flex: 1;
                font-size: 16px;
            }
        }
        .content{
            font-size: 14px !important;
        }
    }

    .product-comments-title{
        font-size: 16px;
    }

    .product-comment{
        font-size: 14px !important;

        .prodoct-comment-content-top {
            
            font-size: 14px !important;
            .client-name{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }


        .product-comment-header{
            display: flex;
            align-items: center;
            & img{
                width: 50px !important;
                height: 50px !important;
                
            }
        }

        .date-m{
            display: block;
            font-size: 12px;
        }
        
    }

    .more{
        font-size: 14px;
    }



}

// 在電腦版消失
.slide-m{
    display: none;
}

.product-p-m{
    display: none;
}

.date-m{
    display: none;
}
  


// 產品主欄
.product-main-content{
    padding-bottom: 50px;
    padding-inline: 20px;
    font-size: $h3;

    color: $indigo-color;
    font-weight: $text-weight-medium;
    letter-spacing: $regular-spacing;

    // 圖片區
    .product-main-pic{
        & img{
            width: 100%;
        }
    }
    .product-sub-pics{
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap:10px;
        margin-top: 10px;
    }

    .product-sub-pic{
        & img{
            width: 100%;
            cursor: pointer;
        }
    }

    // 右邊文字區
    .product-main-right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .product-title{
        font-size: 28px;
        
    }

    // 愛心
    .price-like{
        display: flex;
        justify-content: space-between;

        .product-like{
            width: 28px;

            & img{
                width: 100%;
            }
        }
    }


    // 按鈕們
    .product-btn-group{
        width: 100%;
        justify-content: space-between;
        display: flex;
        gap:80px;
    }

    .product-qua-btn{
        width: 100%;
        position: relative;
        height: 55px;
        border: 2px solid $indigo-color;
        background-color: $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $h4;

        .minus{
            position: absolute;
            top:0;
            left:0;
            width: 51px;
            height: 52px;
            border-right: 2px solid $indigo-color;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 26px;
        }

        .plus{
            position: absolute;
            top:0;
            right:0;
            width: 51px;
            height: 52px;
            border-left: 2px solid $indigo-color;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 26px;
        }

        // 加減按鈕hover
        .qua-btn{
            transition: background-color 0.3s ease;
            color: $indigo-color;
            text-decoration: none;
        }

        
        .qua-btn:hover,
        .qua-btn:active,
        .qua-btn:focus-within{
            background-color: $indigo-color;
            color:$white-color;
        }


        
        


    }

    // 加入購物車
    .add-cart{
        width: 100%;
        height: 55px;
        border: 2px solid $indigo-color;
        background-color: $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;
        color: $indigo-color;
        text-decoration: none;
    }

    .add-cart:hover,
    .add-cart:active,
    .add-cart:focus-within{
        width: 100%;
        height: 55px;
        background-color: $indigo-color;
        color: $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    

}


// 產品次欄
.product-sub-content{
    font-size: $h4;
    color: $indigo-color;
    font-weight: $text-weight-medium;
    letter-spacing: $regular-spacing;

    // .tab-content{
    //     padding-top: 30px;
    //     padding-inline: 20px;
    //     padding-bottom: 50px;
    //     border-bottom: 2px solid $indigo-color;
    // }

    .panel-control {
        position:absolute;
        opacity:0;
    }

    .tab-group{
        display: flex;
        
    }
    .tab-group label {
        
        display:inline-block;
        padding-block: 10px;
        width: 130px;
        // padding: 10px 30px;
        // border:2px solid $indigo-color;
        border-bottom:none;
        background-color: $white-color;
        // bottom:-1px;
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-group {
        border-top:2px solid $indigo-color;
        border-bottom:2px solid $indigo-color;
        padding: 20px;
    }
    .content{
        display:none;
    }
    /* .content1{display:block;} */
    /* .tab-group .active {
    position:relative;
    background-color: #fff;
    } */
    
    #radio1:checked ~ .tab-group [for="radio1"],
    #radio2:checked ~ .tab-group [for="radio2"],
    #radio3:checked ~ .tab-group [for="radio3"]{
        background-color: $indigo-color;
        color: $white-color;
    }

    #radio1:hover ~ .tab-group [for="radio1"],
    #radio2:hover ~ .tab-group [for="radio2"],
    #radio3:hover ~ .tab-group [for="radio3"]{
        background-color: $indigo-color;
        color: $white-color;
    }

    #radio1:checked ~ .content-group .content1,
    #radio2:checked ~ .content-group .content2,
    #radio3:checked ~ .content-group .content3 {
        display:block
    }
}


// 產品評論區
.product-comments{
    // width: 960px;
    padding-block: 30px;
    padding-inline: 20px;
    color: $indigo-color;
    font-size: $h3;
    font-weight: $text-weight-medium;
    letter-spacing: $regular-spacing;

    .star{
        color:$skin-color;
    }

    .product-comments-title{
        margin-bottom: 30px;
    }

    

    .product-comment{
        margin-block: 40px;
        padding-inline:20px;
        font-size: $h4;
    }

    .product-comment-header{
        
        
        
    
        & img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            

        }
    }

    .prodoct-comment-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .prodoct-comment-content-top{
            display: flex;
            justify-content: space-between;
            font-size: $h4;
            .like{
                display: inline-block;
                margin-left: 10px;
                letter-spacing: 0rem;
            }
            .date{
                font-size: $h6;
            }
            

            
        }
    }

    .more{
        display: flex;
        justify-content: end;
        margin-block: 30px;

        & a{
            transition: background-color 0.3s ease;
            color: $indigo-color;
            text-decoration: none;

        }

        & a:hover,
        & a:active,
        & a:focus-within{
            color: $indigo-color;
            
        }

        
    }

    
}